<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="smoke">
    <test name="smoke">
        <classes>
            <class name="tests.AdavancedSeleniumTest"></class>
            <class name="tests.AlertsIFrameTest"></class>
        </classes>
    </test>
</suite>